<div class="page-wrapper">
  <form ng-submit="searchCtrl.search()">
    <div class="form-group">
      <input type="text" placeholder="Search {{ searchCtrl.searchType }}s" class="form-control" ng-model="searchCtrl.searchString">
    </div>
  </form>
  <div class="search-type">
    <label>
      <input type="radio" ng-model="searchCtrl.searchType" value="track" checked>
      Track
    </label>
    <label>
      <input type="radio" ng-model="searchCtrl.searchType" value="artist">
      Artist
    </label>
    <label>
      <input type="radio" ng-model="searchCtrl.searchType" value="album">
      Album
    </label>
  </div>
  <ul dnd-list="searchCtrl.results"
      dnd-disable-if="playlistCtrl.songs.length >= playlistCtrl.maxSongs"
      class="text-left">
      <li ng-repeat="item in searchCtrl.results track by $index"
          dnd-draggable="playlistCtrl.parseItem(item)"
          dnd-moved="playlistCtrl.addSong(item)"
          dnd-canceled="playlistCtrl.addSong(item)"
          dnd-effect-allowed="move"
          dnd-selected="models.selected = item"
          ng-class="{'selected': models.selected === item}"
          class="song"
          >
          <!-- <song obj="item" ng-click="playlistCtrl.addSong(item)"></song> -->
          <song obj="item"></song>
      </li>
  </ul>
  <a ng-href="/#/playlists">Playlists</a>
</div>
