<div class="page-wrapper">
  <form ng-submit="searchCtrl.search()">
    <div class="form-group">
      <input type="text" placeholder="Search {{ searchCtrl.searchType }}s" class="form-control" ng-model="searchCtrl.searchString">
    </div>
  </form>

  <br>
  <label>
    <input type="radio" ng-model="searchCtrl.searchType" value="track" checked>
    Track
  </label><br/>
  <label>
    <input type="radio" ng-model="searchCtrl.searchType" value="artist">
    Artist
  </label><br/>
  <label>
    <input type="radio" ng-model="searchCtrl.searchType" value="album">
    Album
  </label><br/>

  <ul>
    <li ng-repeat="item in searchCtrl.results track by $index">
      <song obj="item" ng-click="playlistCtrl.addSong(item)"></song>
    </li>
  </ul>
  <!-- <a ng-href="/#/playlists">Playlists</a> -->
</div>
