ul {
  list-style: none;
}

a {
  color: #1DB954;
  cursor: pointer;
}

a:hover {
  color: #191414;
  text-decoration: none;
}

body {
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.page-header {
  border-bottom: none;
  text-align: center;
}

.page-wrapper {
  max-width:550px;
  margin-right: auto;
  margin-left: auto;
  padding:15px;
}

.navbar {
  background-color: black;
}

#logo {
  color: #FFFFFF;
  font-size: 30px;
}

#note, #note:hover {
  font-style: normal;
  color: #adadad;
}

.button-primary, .editable-buttons .btn-primary {
  background-color: #1DB954;
  border-color: #189a46;
}

.button-primary:hover, .editable-buttons .btn-primary:hover {
  background-color: #191414;
  border-color: #0e0b0b;
}

.button-login {
  width: 100px;
}

.page-header h1 {
  text-align: center;
}

.search-type input {
  margin: 10px;
}

.song-container {
  padding: 15px;
}

.song-image img {
  width: 50px;
  height: 50px;
}
.song-details {
  font-size: 12px;
  color: #adadad;
}

ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

ul[dnd-list] .dndDraggingSource {
    display: none;
}

ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}
