ul {
  list-style: none;
}

a {
  color: #1DB954;
  cursor: pointer;
}

a:hover {
  color: #191414;
  text-decoration: none;
}

body {
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.page-header {
  border-bottom: none;
  text-align: center;
}

.page-wrapper {
  max-width:550px;
  margin-right: auto;
  margin-left: auto;
  padding:15px;
}

nav {
  background-color: #191414;
}

#logo {
  color: #1DB954;
  font-size: 30px;
}

.button-primary {
  background-color: #1DB954;
  border-color: #189a46;
}

.button-primary:hover {
  background-color: #191414;
  border-color: #0e0b0b;
}

.page-header h1 {
  text-align: center;
}
