<div class="page-wrapper">
  <div class="page-header">
    <h1>{{ playlistCtrl.title }}</h1>
    <a ng-click="playlistCtrl.export()">export</a>
    <a mwl-confirm
      title="Are you sure?"
      message="Are you really sure you want to delete <b>{{ playlistCtrl.title }}</b>?"
      confirm-text="Yes <i class='glyphicon glyphicon-ok'></i>"
      cancel-text="No <i class='glyphicon glyphicon-remove'></i>"
      on-confirm="playlistsCtrl.removePlaylist(playlistCtrl.playlist)"
      on-cancel="cancelClicked = true"
      confirm-button-type="danger"
      cancel-button-type="default">
      delete
    </a>
  </div>
  <div class="text-center">
    <ul dnd-list="playlistCtrl.songs" class="text-left">
        <li ng-repeat="song in playlistCtrl.songs"
            dnd-draggable="song"
            dnd-moved="playlistCtrl.songs.splice($index, 1)"
            dnd-effect-allowed="move"
            >
            <div class="song-title">
              <h4>{{ song.data.title }}</h4>
            </div>
            <div class="song-artist song-details">
              Artist: {{ song.data.artist }}
            </div>
            <div class="song-album song-details">
              Album: {{ song.data.album }}
            </div>
            <a ng-click="playlistCtrl.removeSong(song)">remove</a>
        </li>
    </ul>
    <!-- <ul class="text-left">
      <li ng-repeat="song in playlistCtrl.songs">
        <span>
          {{ song.data.title }} by {{ song.data.artist }} on {{ song.data.album }}
        </span>
        <div ng-click="playlistCtrl.removeSong(song)">x</div>
      </li>
    </ul> -->
    <search></search>
  </div>
</div>
