<div class="page-wrapper">
  <div class="page-header">
    <h1>{{ playlistCtrl.title }}</h1>
    <a ng-click="playlistCtrl.export()">export</a>
    <a mwl-confirm
      title="Are you sure?"
      message="Are you really sure you want to delete <b>{{ playlistCtrl.title }}</b>?"
      confirm-text="Yes <i class='glyphicon glyphicon-ok'></i>"
      cancel-text="No <i class='glyphicon glyphicon-remove'></i>"
      on-confirm="playlistsCtrl.removePlaylist(playlistCtrl.playlist)"
      on-cancel="cancelClicked = true"
      confirm-button-type="danger"
      cancel-button-type="default">
      delete
    </a>
  </div>
  <div class="text-center">
      <ul dnd-list="playlistCtrl.songs"
          dnd-drop="false"
          class="text-left">
        <li ng-repeat="song in playlistCtrl.songs">
          <div class="row song-container">
            <div class="col-1">
              <div class="song-image" onbeforesave="playlistCtrl.updateSong(song)" editable-text="song.data.customImage" e-form="imageForm">
                <img ng-src="{{ song.data.customImage }}">
              </div>
            </div>
            <div class="col-5 song-info">
              <div class="song-title">
                <h4>{{ song.data.title }}</h4>
              </div>
              <div class="song-artist song-details">
                Artist: {{ song.data.artist }}
              </div>
              <div class="song-album song-details">
                Album: {{ song.data.album }}
              </div>
              <div id="note" onbeforesave="playlistCtrl.updateSong(song)" editable-text="song.data.note" e-form="noteForm" class="song-notes song-details">
                Note: {{ song.data.note }}
              </div>
              <a ng-click="imageForm.$show()">edit image</a> |
              <a ng-click="noteForm.$show()">edit comment</a> |
              <a ng-click="playlistCtrl.removeSong(song)">remove</a>
            </div>
          </div>
        </li>
      </ul>
    <search></search>
  </div>
</div>
