<ui-view>
  <div class="page-wrapper">
    <div class="page-header">
      <h1>Your Playlists</h1>
    </div>

    <p class="text-center">
      <a ui-sref="login" class="btn btn-lg btn-default button-default">Login</a> <a ui-sref="register" class="btn btn-lg btn-primary button-primary">Register</a>
    </p>
  </div>
  <div>
    <form ng-submit="playlistsCtrl.addPlaylist()">
      <input type="text" placeholder="Add Playlist" ng-model="playlistsCtrl.playlistName">
    </form>
    <ul>
      <li ng-repeat="playlist in playlistsCtrl.playlists">
        <a ui-sref="playlists.playlist({ playlistId: playlist.$id })">{{ playlist.title }}</a>
        {{ playlist }}
      </li>
    </ul>
  </div>
  {{ playlistsCtrl.profile }}
  {{ playlistsCtrl.firebaseUser }}
  <a ng-href="/#/search">Search</a>
</ui-view>
